# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore aws cloudformation output file
packaged-stack.yaml


.idea
*.iml
.gradle/
build/
target/
gradlew.bat

iam_role_cfn.json
create-stack.txt
